.selecionado{
  background-color: #be1f1f79;
  font-weight: 900;
  text-shadow: 2px 2px 2px black;
  border-color: #be1f1fc2;
}

button{
  padding: 10px
  
}
.cursos{
  cursor: pointer;
}

#caixa2{
  width: 50%;
  background-color: rgba(0, 102, 255, 0.192);
}
#caixa1{
  width: 50%;
  background-color: rgba(0, 102, 255, 0.192);
}
#caixa2 > div,
#caixa1 > div{
 padding: 10px;
}

main{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  width: auto;
}

.btn_lixeira{
  width: 200px;
  cursor: pointer;
  margin-left: 100px;
}
